<!DOCTYPE html>
<html lang="en">
<div class="content">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: #36454F;
      }

      h1 {
        color: white;
        padding: 2rem 0 0 0;

      }

      a {
        display: block;
        padding: 1rem 0 1rem 0;
        text-decoration: none;
        color: #007BFF;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>

  </head>

  <body>
    <h1>Healthcare Preparedness</h1>
    <a href="/vaccinations-hospitalizations">Vaccinations Impact on Hospitalizations by Continent</a>
    <a style="padding-bottom:4rem" href="/vaccinations-icu-admissions">Vaccinations Impact on ICU Admissions by
      Continent</a>
  </body>
</div>

</html>
<router-outlet></router-outlet>