<div class="container">
    <div class="main-content chart-container" #c1>
        <div class="padding_top "> 
            <div style="text-align: center; font-weight: 300;">Covid 19 Vaccination Policy</div>
            This interactive visualization illustrates the COVID-19 vaccination policies implemented by governments worldwide. It's important to note that this visualization exclusively focuses on the policies related to the accessibility of vaccines and does not provide data on the actual vaccination rates or the number of individuals who have received the vaccine.
        </div>
    
        <div class="padding_bottom"> 
            Countries are grouped into six categories:

            <table style="width:100%; font-size:80%;">
                <tr>
                  <td>- No availability</td>
                  <td>- Availability for ONE of following: key workers / clinically vulnerable/ elderly </td>
                  
                </tr>
                <tr>
                  <td>- Availability for ALL of following: key workers/ clinically vulnerable / elderly</td>
                  <td>- Availability for all three plus partial additional availability</td>
                </tr>
                <tr>
                    <td>- Availability for TWO of following: key workers/ clinically vulnerable / elderly</td>
                    <td>- Universal availability</td>
                </tr>
              </table>

        </div>
    
    </div>
    
    <div class="main-content chart-container"  #c2 >
        <div class="padding_top"> Childhood Vaccine Eligibility</div>
    
        <div class="padding_bottom"> Policy Details</div>
    
    </div>
    
    <div class="main-content chart-container" #c3>
        <div class="padding_top padding_top3"> Vaccination eligibility by age</div>
    
        <div class="padding_bottom"> Policy Details</div>
    
    </div>
    

</div>

