<div class="container">
    <div class="main-content chart-container" #c1>
        <div class="padding_top "> 
            <div style="text-align: center; font-weight: bold;">Covid 19 Vaccination Policy</div>
            This interactive visualization illustrates the COVID-19 vaccination policies implemented by governments worldwide. It's important to note that this visualization exclusively focuses on the policies related to the accessibility of vaccines and does not provide data on the actual vaccination rates or the number of individuals who have received the vaccine.
        </div>
    
        <div class="padding_bottom"> 
            Countries are grouped into six categories:

            <table style="width:100%; font-size:80%;">
		<tr>
		  <td>- No availability</td>
		  <td>- Availability for ONE of following: key workers / clinically vulnerable/ elderly </td>
		  
		</tr>
		<tr>
		  <td>- Availability for ALL of following: key workers/ clinically vulnerable / elderly</td>
		  <td>- Availability for all three plus partial additional availability</td>
		</tr>
		<tr>
		    <td>- Availability for TWO of following: key workers/ clinically vulnerable / elderly</td>
		    <td>- Universal availability</td>
		</tr>
	    </table>

        </div>
    
    </div>
    
    <div class="main-content chart-container"  #c2 >
        <div class="padding_top"> 
	<div style="text-align: center; font-weight: bold;">Childhood Vaccine Eligibility</div>
        Following chart maps government policies released on COVID-19 vaccination groupped by "age(broad) group"
        </div>
    
        <div class="padding_bottom"> 
        Here countries are grouped into four categories:
        
        <table style="width:100%; font-size:80%;">
		<tr>
		  <td>- No availability</td>
		  <td>- Availability for some individuals aged 16 years and older </td>
		  
		</tr>
		<tr>
		  <td>- Availability for everyone aged 16 years and older, but not for under-16s</td>
		  <td>- Availability for under-16s. This may not include all under-16s. (For eg,may only include those aged five years and older)</td>
		</tr>
		
	 </table>
        
        </div>
    
    </div>
    
    <div class="main-content chart-container" #c3>
        <div class="padding_top padding_top3"> 
        <div style="text-align: center; font-weight: bold;">Vaccination eligibility by age</div>
        Following chart allows users to explore the age group eligibility for COVID-19 vaccination in various countries. It provides insights into the youngest age group in the general population that has become eligible for vaccination by December 31, 2022
    
        <div class="padding_bottom"> This interactive chart visualizes the minimum age group eligible for COVID-19 vaccination across different countries as of December 31, 2022. It serves as a valuable tool for understanding vaccination rollout strategies, with a focus on the general population. Keep in mind that eligibility criteria may vary for individuals in higher risk groups, such as healthcare workers or those with underlying health conditions</div>
    
    </div>
    

</div>

